@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  margin: 0 auto;
  max-width: 1240px;
}

.border-gray {
  border: 1px solid #E3E3E3;
}

.background-gray {
  background-color: #F8F8F8 !important;
}

.background-white {
  background-color: white !important;
}

.brand-img {
  width: 40px;
  height: 40px;
}

.brand {
  width: 280px;
}

.card-button {
  z-index: 9999;
  height: 14%;
}

.card-image {
  height: 340px;
  height: 86%;
}

.social-media-icon {
  width: 17px;
  height: 17px;
}

.css-1gqfvv-MuiPaper-root {
  box-shadow: none !important;
  border: 1px solid #EEF0F2;
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  display: none !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.homepage-carousel {
  background: #F7F9FA;
}

.swiper-slide-active {
  background: #F7F9FA;
  margin-bottom: 20px !important;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  color: black !important;
  height: 10px !important;
  right: 80px !important;
}

.homepage-carousel .swiper-pagination {
  left: 185px !important;
  bottom: 60px !important;
  width: 20% !important;
  text-align: start !important;
}
.homepage-carousel .swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  margin-right: 5px !important;
  background: black !important;
}
.homepage-carousel .swiper-button-prev {
  color: black !important;
  left: 80px !important;
  width: 20px !important;
  height: 20px !important;
}
.homepage-carousel .swiper-button-prev::after {
  width: 20px !important;
  height: 20px !important;
}
.homepage-carousel .append-buttons {
  display: none !important;
}
.homepage-carousel .swiper-pagination-fraction {
  display: none !important;
}

.Slider-product {
  width: 320px !important;
  margin-right: 20px !important;
}

.swiper-other-image {
  padding: 15px !important;
  background: #F7F9FA;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.ProductSlider {
  border-bottom: 3px solid #EEF0F2 !important;
}
.ProductSlider .swiper-slide-active {
  background-color: white !important;
  border-bottom: 3px solid black !important;
  border-radius: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.ProductSlider .swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 295px !important;
}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8.5px 11px !important;
}

.css-1h51icj-MuiAutocomplete-root input {
  padding: 0 !important;
}

.progress-bar-container {
  width: 100%;
  height: 7px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  text-transform: capitalize !important;
  font-size: 16px !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #FF6400 !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #FF6400 !important;
}/*# sourceMappingURL=style.css.map */